{% extends 'base.html' %}
{% block content %}

<!-- Banner -->
<div class="banner text-center mb-4" style="background-color: #D3D3D3; height: 300px;">
    <div class="overlay d-flex justify-content-center align-items-center" style="height: 100%; background-color: rgba(0, 0, 0, 0.5);">
        <h1 class="text-white">Bienvenido a BioProgrammer 💻🌱</h1>
    </div>
</div>

<div class="container mt-4">
    <p class="lead text-center">¡Hola! 👋 Nos alegra verte aquí en BioProgrammer, tu plataforma de referencia para todo lo relacionado con la bioinformática. Aquí podrás explorar herramientas innovadoras, colaborar con otros profesionales y llevar tus proyectos al siguiente nivel. 🚀</p>

    <h2 class="mt-4">¿Qué ofrecemos? 🧬</h2>
    <ul class="list-unstyled">
        <li><strong>Tips para estudiantes:</strong> Consejos de programación, conceptos biológicos, trucos o pipelines de trabajo. 📖</li>
        <li><strong>Colaboración:</strong> Conéctate con otros bioinformáticos y comparte tus conocimientos. 🤝</li>
        <li><strong>Recursos Educativos:</strong> Accede a tutoriales, webinars y cursos para mejorar tus habilidades. 📚</li>
        <li><strong>Proyectos Abiertos:</strong> Participa en proyectos colaborativos que marcan la diferencia en el mundo de la ciencia. 🌍</li>
    </ul>

    <p class="mt-4">Únete a nuestra comunidad y comienza a explorar todo lo que BioInfoHub tiene para ofrecerte. ¡El futuro de la bioinformática está en tus manos! 💪✨</p>

    <p>No dudes en contactarnos si tienes alguna pregunta o necesitas asistencia. Estamos aquí para ayudarte. 😊</p>
</div>

{% endblock %}